.column{
	float:left;
	overflow:hidden;
	width:400px;
	height:400px;
	overflow:hidden;
	padding-bottom: 5px;
	padding:5px;
	margin:auto;
	width:300px;
	height:300px;
    
}
body{
	background:white;
}

.row{
	padding:10px;
}
img:hover{
	animation:hov 2s infinite linear;
	animation-delay: 0s;
}
@keyframes hov{
      0%{
      	transform: translate(0,0);
      }
      100%{
      	transform:translate(100px,0);
      }

}
.topnav{
	overflow:hidden;
	background-color: black;
	height:50px;
	width:100%;
}
.topnav a{
	text-decoration:none;
	float:left;
	overflow: hidden;
	display:block;
	padding:3px;
	color:white;
}
a:hover{
	background-color: green;
	color:black;
}
a:active{
	background-color:blue;
	color:white;
}
@media screen and (max-width:600px){
	.topnav a{
		float:none;
		width:100%;
	}
}
